[package]
name = "tts"
version = "0.14.0"
authors = ["Nolan Darilek <nolan@thewordnerd.info>"]
repository = "https://github.com/ndarilek/tts-rs"
description = "High-level Text-To-Speech (TTS) interface"
license = "MIT"
exclude = ["*.cfg", "*.yml"]
edition = "2018"

[lib]
crate-type = ["lib", "cdylib", "staticlib"]

[features]
use_tolk = ["tolk"]
ffi = []

[dependencies]
dyn-clonable = "0.9"
lazy_static = "1"
libc = {version = "0.2", optional = true}
log = "0.4"
thiserror = "1"

[dev-dependencies]
env_logger = "0.8"

[build-dependencies]
cbindgen = "0.18.0"

[target.'cfg(windows)'.dependencies]
tolk = { version = "0.3", optional = true }
windows = "0.2"
tts_winrt_bindings = { version = "0.3", path="winrt_bindings" }

[target.'cfg(target_os = "linux")'.dependencies]
speech-dispatcher = "0.7"

[target.'cfg(any(target_os = "macos", target_os = "ios"))'.dependencies]
cocoa-foundation = "0.1"
libc = "0.2"
objc = "0.2"

[target.wasm32-unknown-unknown.dependencies]
wasm-bindgen = "0.2"
web-sys = { version = "0.3", features = ["EventTarget", "SpeechSynthesis", "SpeechSynthesisErrorCode", "SpeechSynthesisErrorEvent", "SpeechSynthesisEvent", "SpeechSynthesisUtterance", "Window", ] }

[target.'cfg(target_os="android")'.dependencies]
jni = "0.18"
ndk-glue = "0.2"
